// color schemes
$primary: #27a34c;
$primary-color: #27a34c;
$secondary-color: #e5ab3d;
$light: #fff;
$gray: #5e5e5e;
$prepend-gray: #e5e5e5;
$light-gray: #ababab;
$dark-gray: #424242;
$background-gray: #f6f6f6;
$really-light-gray: #919191;
$dark: #212529;
$green: #0daa42;
$success: #a7eeb6;
$danger: #f79797;
$btn-danger: #c13506;
$box-shadow: 0px 0px 9px rgba(107, 127, 153, 0.2);
$gray-rbg: rgba(255, 255, 255, 0.56);
$top-bar-background: #eaeaff;

.sqaure-image {
  overflow: hidden;
  height: 250px;
  /* padding controls height. will always be perfectly sqaure regardless of width */
  padding: 50% 0;
  position: relative;
  cursor: pointer;
  border-radius: 5px;

  & > img {
    width: 150%;
    position: absolute;
    top: 0;
    left: -80px;
    border-radius: 5px;
  }
}

.link {
  text-decoration: none;
}

.btn-medium {
  padding: 5px 0px;
  font-size: 20px;
  background-color: $primary;
  color: $light;
  border-radius: 10px;
  transition: all 0.5s ease;
  border: 2px solid $primary;
  font-weight: 500;
  text-align: center;

  &:hover {
    text-decoration: none;
    color: $primary;
    padding: 6px 21px;
    border: 2px solid $primary;
    background-color: $light;
    font-weight: 500;
    transition: all 0.5s ease;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
