@import "_config";

.admin-dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.invested-balance {
  height: 100px;
  width: 400px;
  padding: 20px;
  background-color: $primary-color;
  color: $light;
}

.wallet-balance {
  height: 100px;
  width: 400px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
