@import "_config";

.auth-form {
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  width: 450px;
  padding: 25px 25px;

  .auth-form-h1 {
    color: $dark;
    font-weight: 500;
    margin: 0;
  }

  .auth-form-swap {
    text-align: center;
    font-weight: 500;
    margin-top: 10px;
    .account-span {
      font-weight: 600;
      color: $primary-color;
      cursor: pointer;
      text-decoration: none;
    }
  }
}

.navbar-section {
  height: 80px;
  background-color: $primary;

  .nav-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 80px;
  }

  .nav-menu {
    display: flex;
    gap: 50px;
    align-self: center;
    list-style: none;
  }

  .nav-links {
    color: $light;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
  }

  .logo {
    cursor: pointer;
    img {
      width: 200px;
    }
  }
}

.invest-heading {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bolder;
  color: $gray;
  margin-top: 30px;
}

.collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.center-btn {
  width: 300px;
  margin: 40px auto;
  .btn-medium {
    width: 300px;
  }
}

.on-screen-spinner {
  width: 40px;
  margin: 200px auto;

  img {
    width: 40px;
  }
}

//table

#customers {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  border-style: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

th:first-child {
  border-top-left-radius: 10px;
}
th:last-child {
  border-top-right-radius: 10px;
}

.last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.last-child td:first-child {
  border-bottom-left-radius: 10px;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 15px;
  font-weight: 400;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: $primary;
  color: white;
}

.table-btn-active {
  cursor: pointer;
  background: $primary;
  color: #fff;
  border: none;
  border-radius: 10px;
  text-align: center;
  padding: 2px 0;
}

.table-btn-pending {
  cursor: pointer;
  background: $secondary-color;
  color: #fff;
  border: none;
  border-radius: 10px;
  text-align: center;
  padding: 2px 0;
}

.payment {
  background-color: #e7ffdf;
  border: 2px $primary-color dashed;
  border-radius: 10px;
  text-align: start;
}

.country-image-size {
  width: 200px;
}

.google-sign-up {
  border-radius: 10px;
  font-weight: bold;
  margin: 30px auto;
  width: 130px;
}
