.auth-form {
  height: 700px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  width: 450px;
  padding: 0 25px;

  .auth-form-h1 {
    color: $dark;
    font-weight: 500;
    margin: 0;
  }

  .auth-form-swap {
    text-align: center;
    font-weight: 500;
    margin-top: 10px;
    .account-span {
      font-weight: 600;
      color: $primary-color;
      cursor: pointer;
      text-decoration: none;
    }
  }
}

.navbar-section {
  height: 80px;
  background-color: $primary;

  .nav-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 80px;
  }

  .nav-menu {
    display: flex;
    gap: 50px;
    align-self: center;
    list-style: none;
  }

  .nav-links {
    color: $light;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
  }
}

.invest {
  margin-top: 50px;
}

.invest-heading {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bolder;
  color: $gray;
  margin-top: 30px;
}

.collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;

  .card {
    width: auto;

    .grid {
      margin: 10px 20px 0px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      span {
        font-size: 28px;
        text-align: end;
        font-weight: bold;
        color: $primary;
      }
    }
    h1 {
      font-size: 24px;
    }

    p {
      font-size: 16px;
      margin-bottom: 20px;
    }

    .btn-medium {
      margin: 20px 20px 20px;
    }
  }
}

.center-btn {
  width: 300px;
  margin: 40px auto;
  .btn-medium {
    width: 300px;
  }
}
