@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #318831;
  --danger-color: #d9534f;
}

.toast {
  color: black;
  width: 400px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.btn .loader {
  width: 20px;
  height: auto;
}

.errordata {
  color: var(--danger-color);
  font-weight: bold;
  font-size: 18px;
}

.showcase {
  height: 600px;
  background-color: var(--success-color);
  color: #fff;
  position: relative;
  margin-top: -10px;
}

.showcase::before,
.showcase:after {
  content: "";
  position: absolute;
  height: 80px;
  bottom: -40px;
  right: 0;
  left: 0;
  background-color: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  color: #333;
}

.btn {
  padding: 15px 30px;
  cursor: pointer;
  background: var(--success-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 45px;
}

.showcase-form {
  position: relative;
  top: 60px;
  height: auto;
  width: 400px;
  padding: 40px;
  z-index: 100;
  margin: 10px auto;
}

.showcase .showcase-form .copy-section {
  margin-top: 50px;
}

.showcase-form h2,
p {
  text-align: center;
  margin: 10px auto;
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form img {
  height: auto;
  width: 20%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  padding: 3px;
  font-size: 16px;
  width: 100%;
}

.showcase-form input:focus {
  outline: none;
}

/* .showcase-form {
  animation: slideinFromLeft 2s ease-in-out;
} */

@keyframes slideinFromLeft {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}
